<settings>
	<category label="[COLOR red][B]ADD PATHS[/B][/COLOR]">
		<setting label="[B]URL to m3u playlist[/B]" type="text"  id="JJJJJJ H" default="https://raw.githubusercontent.com/djlopesdacosta/M3U/master/m3u%20playlists/1-%20WORLD%20IPTV%20CHANNELS.m3u" />
		<setting label="[B]URL to m3u playlist[/B]" type="text"  id="HHHHH" default="http://pastebin.com/raw/Y4uCSkxh" />
		<setting label="[B]URL to m3u playlist[/B]" type="text"  id="DDDDDD" default="https://raw.githubusercontent.com/djlopesdacosta/M3U/master/m3u%20playlists/INTERNACIONAIS%20TVS%20TESTE.m3u" />
		<setting label="[B]Local path to m3u playlist[/B]" type="file"  id="fggfjghghghjghjgjhgjh" default="" />	
		<setting label="[COLOR red][B]URL to xml playlist[/B][/COLOR]" type="text"  id="online_xml" default="aa" />		
		<setting label="[COLOR red][B]Local path to xml playlist[/B][/COLOR]" type="file"  id="local_xml" default="" />			
	</category>
</settings>